:root{
    --pink:#FF78C4;
    --brown:#50251b;
    --vintage:#BA704F;
    --peach:#C88EA7;
    --red:#fc0202;
    --green:#10ae45;
    --yellow:#ffee34de;
    --white:#FFFFFF;
    --black:#000000;
    --mint:#50f9ff;
    --florescent:#4bff3a;
 }

 body{
    background-color: #000000;
    color: #FFFFFF;
    margin: 0%;
    padding: 0%;
}


 .menu
{
   display: grid;
   background: linear-gradient(to right,rgba(0,0,0,0.5),rgb(0,0,0,0.5));
   color:var(--mint);
   font-weight:bold;
}


.menu th 
{
   margin-top: 5em;
   color:var(--yellow);
   font-size: 2em;

}



table
{
width:100%;
padding:1em;
}


.menu tr
{
   justify-content: center;
   margin-top: 1em;
}


.menu td:nth-child(1)
{
flex:1;
justify-self: left;
padding: 10px;
}


.menu td:nth-child(2)
{
justify-self: right;
padding: 10px;
}


caption{
    color: #fc0202;
}